.carrier-page {
  position: relative; 
  width: 402px;
  height: 874px;
  background-color: #f6f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
}

.carrier-banner {
  width: 370px;
  height: 40px;
  background-color: #FFF;
  /* border-radius: 0px 0px 20px 20px; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  /* 부드러운 그림자 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94A3B8;
  padding: 20px 16px;
  gap: 4px;
  border-bottom: 1px solid #E2E6EC;
}

.carrier-text {
  margin: 0;
  text-align: center;
}

/* 상단 제목 */
.carrier-header {
  margin-top: 70px;
  text-align: center;
}

.carrier-header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.carrier-header p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

/* 통신사 카드 */
.carrier-list {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carrier-card {
  width: 330px;
  height: 64px;
  background: #fff;
  border: 1px solid #E2E6EC;
  border-radius: 20px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  /* transition: all 0.25s ease-in-out; */
  cursor: pointer;
}

.carrier-card.selected {
  border: 2px solid #367cff;
  box-shadow: 0 4px 10px rgba(54, 124, 255, 0.2);
  /* transform: translateY(-2px); */
}

.carrier-text h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.carrier-text p {
  font-size: 13px;
  color: #888;
  margin: 4px 0 0 0;
}

/*수정 중*/
.bottom-fade {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 140px;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(180deg, rgba(245, 247, 250, 0) 0%, #FFFEFB 100%);
}

/* 인디케이터: 버튼 위에 고정 */
.page-indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 92px;
  /* 버튼(56) + 간격 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 3;
}

.dot {
  width: 8px;
  height: 8px;
  background: #B7BEC8;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.dot.active {
  background: #D4EAF7;
}

/* 다음 버튼: 하단 고정 */
.next-button {
  position: absolute;
  bottom: 24px;
  width: auto;
  height: 56px;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #3572EF;
  border: none;
  font-weight: 600;

  font-size: 16px;
  color: #fffefb;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 3;
}