@import url('https://fonts.googleapis.com/css2?family=Pretendard+Variable:ital,wght@0,400;0,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro:ital,wght@0,600&display=swap');

body {
  	margin: 0; line-height: normal;
}

