.stateactive {
  	position: relative;
  	width: 100%;
  	display: flex;
  	align-items: flex-start;
  	text-align: center;
  	font-size: 18px;
  	color: #111;
  	font-family: 'Pretendard Variable';
}
.pageDescription {
  	height: 80px;
  	width: 402px;
  	background-color: #fffefb;
  	border-bottom: 1px solid #e2e6ec;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 20px 16px;
  	gap: 1px;
}
.goBack {
  	height: 40px;
  	width: 32px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	box-sizing: border-box;
}
.contents {
  	width: 304px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.title {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
  	font-weight: 600;
}
.subTitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 15px;
  	line-height: 20px;
  	color: #a0a6ad;
}

